DATABASE_URL=mysql://dbuser:dbpassword@dbhost:3306/dbname?ssl-mode=REQUIRED
NODE_ENV=local
TZ=UTC
JWT_ACCESS_EXPIRED=1y
SERVER_PORT=1308

# email
SMTP_GMAIL_USER=tulathecoder@gmail.com
SMTP_GMAIL_PASS=

# swagger
SWAGGER_USERNAME=admin
SWAGGER_PASSWORD=Hackimore2024!

# aws
AWS_REGION=ap-southeast-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=
S3_PRESIGNED_URL_EXPIRES=
